<html>
    <head>
        <title>Singapore 2-Hour Weather Forecast</title>
        <link rel='stylesheet' href='./css/semantic.min.css'/>
    </head>
    <body>
        <div class="ui container"></div>
        <div class="ui raised very padded text container segment">
            <h2 class="ui header">Singapore 2-Hour Weather Forecast</h2>
            <div class="ui form">
                <label>Location</label>
                <div class="field">
                    <select id="location-menu" name="location-menu">
        
                    </select>
                </div>
            </div>
            <h3 class="ui centered header" id="forecast"></h3>
          </div>
    </body>
    <script src='./js/jquery-3.6.0.min.js'></script>
    <script src="./js/semantic.min.js"></script>
    <script src='./js/weather-query.js'></script>
</html>